@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@400;700&display=swap");
/*font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif

043873
4F9CF9
FFE492
*/
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: white;
  background-color: white;
}
.them-button {
  display: inline-block;
  background: #4f9cf9;
  border-radius: 8px;
  padding: 16px 24px !important;
  margin-left: 24px;
}
.them-button img {
  margin-left: 10px;
}
.them-button-1 {
  display: inline-block;
  color: #043873 !important;
  background: #ffe492;
  border-radius: 8px;
  padding: 16px 24px !important;
  margin-left: 24px;
}
.header-area {
  background-color: #043873;
  padding: 16px 0;
}
.header-area .nav-link {
  color: white;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  padding: 16px 24px !important;
}
@media (max-width: 991px) {
  .them-button {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-top: 15px;
  }
  .them-button-1 {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-top: 15px;
  }
  .header-area .nav-link {
  padding: 16px0 !important;
}
}
